<div class='row' id='project-detail'>
	<a href='#' class='project-detail-close'><span class='close'>&times;</span></a>
	<div class='col-md-5 project-detail-container'>
		{{#if project.title}}
			<h2 class='project-detail-title'>{{project.title}}</h2>
		{{/if}}
		{{#if project.description}}
			<p class='project-detail-description'>{{project.description}}</p>
		{{/if}}
		{{#if project.link}}
			<h3 class='project-detail-subheader'>Project Link</h3>
			{{#ifEqual project.link.status 'active'}}
			<p><a href='{{project.link.link}}' target="_blank" class='project-detail-link'>{{project.link.display}}</a></p>
			{{else}}
			<p class='strikethrough'>{{project.link.link}}</p>
			{{/ifEqual}}
		{{/if}}
		{{#if project.builtWith}}
			<h3 class='project-detail-subheader'>Built with</h3>
			<ul class='list-inline project-detail-role'>
				{{#each project.builtWith}}
					<li>{{this}}</li>
				{{/each}}
			</ul>
		{{/if}}
		{{#if project.role}}
			<h3 class='project-detail-subheader'>Role</h3>
			<ul class='list-inline project-detail-role'>
				{{#each project.role}}
					<li>{{this}}</li>
				{{/each}}
			</ul>
		{{/if}}
		{{#if project.press}}
			<h3 class='project-detail-subheader'>Press</h3>
			<ul class='list-inline'>
				{{#each project.press}}
				<li><a href='{{link}}' target="_blank">{{publication}}</a></li> |
				{{/each}}
			</ul>
		{{/if}}
	</div><!-- end of col-md-5 -->
	<div class='col-md-7'>
		{{#if project.media}}
		<div id='carousel-project-detail' class='carousel slide'>
			<div class='carousel-inner' role='listbox'>
				{{#each project.media}}
					{{#ifEqual @index 0}}
					<div class='item active'>
					{{else}}
					<div class='item'>
					{{/ifEqual}}

						{{#ifEqual type "image"}}
						<img src='{{path}}' class='center-block img-responsive'>
						{{/ifEqual}}
						{{#ifEqual type "video"}}
						<div class='responsive-iframe'>
							<iframe src="{{path}}" frameborder="0" allowfullscreen></iframe>
						</div>
						{{/ifEqual}}
						<div class='carousel-caption'>
							<p>{{caption}}</p>
						</div>

					</div>
				{{/each}}
			</div> <!-- end of carousel inner -->
			{{#ifMoreThanOne project.media}}
				<a class="left carousel-control" href="#carousel-project-detail" role="button" data-slide="prev"><span class='carousel-arrow prev'>&lsaquo;</span></a>
			  	<a class="right carousel-control" href="#carousel-project-detail" role="button" data-slide="next"><span class='carousel-arrow next'>&rsaquo;</span></a>
			{{/ifMoreThanOne}}
		</div><!-- end of carousel project detail -->
		{{/if}}
	</div><!-- end of col-md-7 -->
</div> <!-- end of id project detail -->